body{
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container{
    text-align: center;
    margin-top: 30px;
}

.student-info{
    background-color: green;
    color: white;
    width: 250px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.student-info h2{
    margin-bottom: 10px;
}

.student-info p{
    margin: 5px 0;
}